* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
body{
  background-color:none;
}
.gpd-box{
  padding:5px 0;
}
#i8yc{
  width:700px;
  margin:100px 0 0 0;
  display:inherit;
  height:70px;
  position:absolute;
  background-color:#f07070;
  text-align:left;
}
#iyr4{
  font-size:25px;
  margin:6px 0 0 0;
}
#innyx{
  display:none;
}
#ibwsw{
  display:none;
}
#ix8t{
  position:absolute;
  transform: translateX(0px) translateY(178px);
  width:700px;
  background-color:#f07070;
  margin:-6px 0 12px 0;
}
#iswz5{
  padding:7px 10px 7px 6px;
  opacity:1;
  margin:0 0 0 0;
  height:20px;
  width:350px;
  font-size:12px;
}
#i1u0f{
  height:20px;
  padding:7px 10px 7px 6px;
  width:350px;
  font-size:12px;
}
#il9qm{
  height:20px;
  padding:7px 10px 7px 6px;
  width:350px;
  font-size:12px;
  margin:-9px 0 0 0;
}
#im5yb{
  height:20px;
  padding:7px 10px 7px 6px;
  width:350px;
  font-size:12px;
  margin:-8px 0 0 0;
}
#iaown{
  margin:0 0 0 -9px;
}
#i0vz{
  margin:11px 0 0 0;
  font-size:13px;
}
#ip3m1{
  margin:17px 0 0 0;
  font-size:13px;
}
#ixi5k{
  margin:17px 0 0 0;
  font-size:13px;
}
#i9ml1{
  margin:17px 0 0 0;
  font-size:13px;
}
#iv2gw{
  margin:20px 0 0 0;
  background-color:#d9d6d6;
  color:#000000;
  padding:5px 25px 5px 24px;
  text-align:center;
}
#ifpvk{
  font-family:Comic Sans MS, cursive, sans-serif;
}
